<div class="container">
	 <img src="#" alt="">
	 <h1><%= @service.name %></h1>
   <p><%= @service.description %></p>
</div>

<div class="review-container">
	<%= service.review.client %>
	<%= service.review.content %>
</div>