.contact-div {
	position: fixed;
	// text-align: center;
    top: 40%;
    left: 50%;
    width:30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.contact-button {
	text-align: center;
	margin-top: 25px;
}

.form-control {
  margin: 0 0 25px 0;
}