
#homepage-banner {

background: linear-gradient(30.03deg, #F0F5F8 34.41%, rgba(240, 245, 248, 0) 87.3%);;
// width: 100vw; 
background-size: 100vw;
height: 800px;


}

@media (min-width: 956px) {
	#search-box input{
		width: 600px;
	}
}

