
#homepage-banner {
	background: linear-gradient(30.03deg, #F0F5F8 34.41%, rgba(240, 245, 248, 0) 87.3%);
	background-size: 100vw;
	height: 800px;
	position: relative; 
}

#img-banner {
	height: 300px;
	width: 400px;
	position: absolute;
	right: 200px;
	top: 250px;
}

.gray-section {
	background-color: #F0F5F8;
	background-size: 100vw;
	height: 500px;

}

h3 {
	color: #4A4C50;
}

h3:hover {
	text-decoration: none;
}

.main-header {
	position: absolute;
	height: 183px;
	width: 436px;
	left: 185px;
	top: 221px;
}

.secondary-header {
	width: 100vw;
	display: inline-block;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

@media (min-width: 956px) {
	#search-box input{
		width: 600px;
	}
}

