<div class="footer">
  <div class="footer-copyright">
    2019 Coop Interface, tous droits réservés. e-mail: info@coopinterface.ca
    <br>
    Adresse: 2-936 av. du Mont-Royal, Montréal, QC Tél: 514-866-8033
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>