<%= render partial: "shared/navbar" %>
<div class="contact-div">
	
	<div class="contact-title">
		<h1>Parlons un peu de vos besoins</h1>
	</div>
	<div class="contact-form">
		<form>
		  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Nom</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Entreprise ou Organisme</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Adresse de courriel</label>
	    <input type="email" class="form-control form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre addresse">
	    <div class="form-group">
		    <label for="exampleFormControlTextarea1">Téléphone</label>
		    <textarea class="form-control form-control" id="exampleFormControlTextarea1" placeholder="(___) ___ - ____"></textarea>
		  </div>
	    <div class="form-group">
		    <label for="exampleFormControlTextarea1">Message</label>
		    <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="3" placeholder="Parlez-nous de votre projet"></textarea>
		  </div>
	  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Partagez des fichiers</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
   <div class="contact-button">
	   <button type="submit" class="btn btn-secondary">Envoyer</button>
   </div>
	</form>
	</div>
</div>
 <%= render partial: "shared/footer" %>
