<%= render partial: "shared/navbar" %>
<div id="homepage-banner" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://unsplash.com/photos/sil2Hx4iupI);">
  <div>
    <h1 class="row justify-content-center">Une équipe derrière chaque consultant</h1>
    <h2 class="row justify-content-center typed">
     <span id="banner-typed-text">Voici un petit descriptif du service</span>
    </h2>
    <button type="button" class="btn btn-danger">Contactez-nous!</button>
  		
		</div>
		<p class="row justify-content-center">à propos de notre initiative</p>
		<p class="row justify-content-center" >notre équipe</p>
  </div>
</div>

<%= render partial: "shared/services" %>






