<%= render partial: "shared/navbar" %>


  <div id="homepage-banner">
    <div class="main-header">
      <h1>Une équipe derrière chaque consultant.</h1>
    </div>
  </div>

  <div class="d-flex">
    <div class="container text-center d-grid flex-wrap">
  	 <% @services.each do |service| %>
       <div class="">
         
       </div>
      
    </div>

  	<%= service.name %>
  	<% end %>
  </div>









