
.btn-danger {
	background-color:#de0015;
	width: 250px;
	height: 60px;
	border-radius: 50px;
	display: table-cell; 
	vertical-align: middle;
}

.btn-secondary {
	background-color:#828489;
	width: 250px;
	height: 60px;
	border-radius: 50px;

}

.contact-btn {
	display: flex;
	align-items: center;
	text-align: center;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 100%;
	color: #FFFFFF;
	border-radius: 32px;
	box-shadow: 3px 4px 9px rgba(170, 94, 105, 0.4);
	position: absolute;
	width: 249px;
	height: 61px;
	left: 0px;
	top: 285px;
	background-color: #dd0014;
	display: inline-block;
}

contact-btn:hover {
	text-decoration-color: white;
}

.contact-btn-navbar {
	text-align: center;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 100%;
	color: #FFFFFF;
	border-radius: 32px;
	border-width: 2px;
	border-color: #dd0014;
	// position: absolute;
	width: 167px;
	height: 32px;
	color: #dd0014;
	background-color: transparent;
	display: inline-block;
}

.contact-btn-navbar p {
	margin-top: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
}