
.navbar-brand img {
  width: 150px;
}

.box {
    position: absolute;
    background: black;
    margin: 16px;
    position: fixed;
    right: 0px;
    left: 0px;
}

ul#horizontal-list > li {
	display: inline-block;

}

ul#horizontal-list a {
	color: #4A4C50;
}

.navbar-links {
	width: 500px;
	display: flex;
	justify-content: space-between;
}

.secondary-navbar-links {
	width: 638px;
	display: flex;
	justify-content: space-between;
}

.navbar-coop {
	display: flex;
	align-items: baseline;
	position: absolute; 
	justify-content: space-between;
  background: transparent;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;	
	margin-top: 26px;
	margin-left: 60px;
	margin-right: 60px;
	right: 0px;
  left: 0px;
}

.secondary_navbar-coop {
	display: flex;
	align-items: baseline;
	position: absolute; 
	justify-content: space-between;
  background: transparent;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;	
	margin-top: 124px;
	margin-left: 60px;
	margin-right: 60px;
	right: 0px;
  left: 0px;
}



