.service-card {
	width: 204px;
	height: 243px;
	background: #FFFFFF;
	box-shadow: 2px 5px 13px rgba(0, 30, 87, 0.16);
	border-radius: 12px;
}

.card-container{
	max-width: 800px;
	height: 540px;
	justify-content: space-evenly; 
}