.service-card {
	float: left;
  // width: 25%;
  // padding: 0 10px;
	width: 300px;
	height: 243px;
	background: #FFFFFF;
	box-shadow: 2px 5px 13px rgba(0, 30, 87, 0.16);
	border-radius: 12px;
}

@media screen and (max-width: 600px) {
  .service-card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.card-container{
	// margin: 0 -5px;
	// width: 800px;
	height: 340px;
	justify-content: space-evenly; 
}

.card-container:after {
  content: "";
  display: table;
  clear: both;
}

.card-container p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

.card-container h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

.card-link {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #62A4CB;
}

.card-img img {
	height: 45px;
	width: 45px;
	margin: 4px;
	margin-bottom: 12px;
	margin-top: 16px;
}