<%= render partial: "shared/navbar" %>

//TODO: fix conflict
<div class="contact-container">
	<h2>Parlons un peu de vous.</h2>
	<div class="contact-fields" id="contact">

<div class="contact-container justify-content-center text-align-center">
	<h2><%= t("talk") %></h2>
	<div id="contact">

		<%= render 'contact_form' %>
	</div>
</div>