<%= render partial: "shared/navbar" %>
<div>
	<div class="secondary-header">
		<h2>Ce que vous pouvez accomplir avec Coop Interface</h2>
	</div>

	<div id="contact">
		<%= render 'contact_form' %>
	</div>
</div>