<%= render partial: "shared/navbar" %>
<div class="contact-container justify-content-center text-align-center">
	<h2>Parlons un peu de vous.</h2>
	<div id="contact">
		<%= render 'contact_form' %>
	</div>
</div>